.chart {
        font: 9px sans-serif;
        padding:0;
        height: 200px;
    }

    .axis path{
        fill: none;
    }

    .axis line {
        fill: none;
        stroke: #000000;
        shape-rendering: crispEdges;
    }

    path.line {
        fill: none;
        stroke: #000000;
        stroke-width: 2;
    }

/*.panel-heading a:after {*/
    /*font-family:'Glyphicons Halflings';*/
    /*content:"\e114";*/
    /*float: left;*/
    /*color: grey;*/
/*}*/

/*.panel-heading a.collapsed:after {*/
    /*content:"\e080";*/
/*}*/
