.panel-heading {
    font-size: 140%;
    cursor: pointer;
    vertical-align: middle;
}

.panel-heading div:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: left;
    color: grey;
}

.panel-heading .collapsed:after {
    content:"\e080";
}

.panel-heading a{
    margin-left: 10px;
}

.panel-heading div:hover:after {
    color:#428bca;
}
