.heading {
    font-size: 90%;
    cursor: pointer;
    vertical-align: middle;
}

.heading div:after {
    font-family:'Glyphicons Halflings';
    content:"\e080";
    float: left;
    color: #595959;
}
.heading div.testheader:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: left;
    color: #595959;
}

.heading a{
    margin-left: 10px;
}

.heading div:hover:after {
    color:#428bca;
}
