{%  extends "base-tornado.html" %}

{%  block headers %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"/>
<title>eve trading</title>
    <link href="{{ static_url('portfolio/chart.css') }}" rel="stylesheet">
{% end %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Zero commissions. Zero fees.</h1>
        <p>Trade in Canada's best brokerage platform.</p>
        <p>
            <a class="btn btn-lg btn-primary" href="" role="button">Learn more &raquo;</a>
        </p>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2>State of the art technology</h2>
            <p>
                Using Python and Tornado, experience the fastest web trading platform available.
            </p>
        </div>
        <div class="col-lg-3">
            <h2>Intuitive interface</h2>
            <p>
                It's just that easy.
            </p>
        </div>
        <div class="col-lg-3">
            <h2>Investment help</h2>
            <p>
                New to investing? We'll help you out.
            </p>
        </div>
    </div>

            <div class="row" style="height: 50px"></div>

			<!-- If the user is not logged in, show generic home page -->
			<div id="portfolioList">
				{% for portfolio in portfolios %}
					<div class="row portfolio-row" id="{{portfolio}}">
						<div class="col-lg-2 summary">
							<strong style="font-size: 200%"><a>{{portfolio.name}}</a></strong>
							<strong style="font-size: 200%">(Portfolio)</strong>
							<br>
						</div>
						<div class="col-lg-5" style="padding: 0">
							<!-- <canvas class="chart" width="300px" height="120px"></canvas> -->
						</div>
						<div class="col-lg-4 news" style="padding-left: 20px">
							<p><strong>Something</strong></p>
						</div>
						<div class="col-lg-1 options">
							<p><a>Edit</a></p>
							<p class="delete"><a>Delete</a></p>
						</div>
						<div class="col-lg-12">
							<hr>
						</div>
					</div>
				{% end %}
			</div> <!-- portfolioList -->

			<div id="stocksList">
				{% for stock in stocks %}
					<div class="row stock-row" id={{stock.get("ticker")}}>
						<div class="col-lg-2 summary">
							<strong style="font-size: 200%"><a>{{stock.get("ticker")}}</a></strong>
							<br>
						</div>
						<div class="col-lg-5 chart" id={{stock.get("ticker")+"chart"}}>
						</div>
						<div class="col-lg-4 news" style="padding-left: 20px">
							<p><strong>{{stock.get("ticker")}} News</strong></p>
							<ul id="newsList"></ul>
							<div class="col-lg-2">
								<div id="newsNext" style="cursor: pointer">Prev</div>
							</div>
							<div class="col-lg-2">
								<div id="newsPrev" style="cursor: pointer">Next</div>
							</div>
						</div>
						<div class="col-lg-1 options">
							<p><a>Edit</a></p>
							<p class="delete"><a>Delete</a></p>
						</div>
						<div class="col-lg-12">
							<hr>
						</div>
					</div>
				{% end %}
			</div>	<!-- stocksList -->

</div>



{% end %}

{% block footer %}
<div id="notification" class="alert alert-info">Welcome to eve. This is the notification bar</div>
{% end %}

{% block scripts %}
<script id="stock-template" type="text/x-handlebars-template">
    <div class="row stock-row" id="{!{ticker}}">
        <div class="col-lg-2 summary">
            <strong style="font-size: 200%"><a>{!{ticker}}</a></strong>
            <br>
        </div>
        <div class="col-lg-5 chart" id={{stock.get("ticker")+"chart"}}>
        </div>
        <div class="col-lg-4 news" style="padding-left: 20px">
            <p><strong>{!{ticker}} News</strong></p>
            <ul id="newsList"></ul>
            <div class="col-lg-2">
                <div id="newsNext" style="cursor: pointer">Prev</div>
            </div>
            <div class="col-lg-2">
                <div id="newsPrev" style="cursor: pointer">Next</div>
            </div>
        </div>
        <div class="col-lg-1 options">
            <p><a>Edit</a></p>
            <p class="delete"><a>Delete</a></p>
        </div>
        <div class="col-lg-12">
            <hr>
        </div>
    </div>
</script>

<script id="news-template" type="text/x-handlebars-template">
    <li>
        <a href="{!{link}}" style="">{!{headline}}</a>
    </li>
</script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="http://techanjs.org/techan.min.js"></script>
<script src="{{ static_url('portfolio/stockListings.js') }}"></script>
<script src="{{ static_url('portfolio/utils.js') }}"></script>
<script src="{{ static_url('jquery-ui.min.js') }}"></script>
<script src="{{ static_url('handlebars.js') }}"></script>
<script src="{{ static_url('underscore.js') }}"></script>
<script>
    $('#homeNav').addClass('active');
    $(document).ready(function() {
        var stockString = "{{jsonpickle.encode(stocks)}}".replace(/&quot;/g,'"');
        var portfolioString = "{{jsonpickle.encode(portfolios)}}".replace(/&quot;/g,'"');
        console.log(JSON.parse(stockString));
        stockListings.init({
            stocks: JSON.parse(stockString),
            portfolios: JSON.parse(portfolioString)
        });
    });
</script>
{% end %}