{%  extends "base-django.html" %}

{%  block headers %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"/>
<title>eve trading</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Zero commissions. Zero fees.</h1>
        <p>Trade in Canada's most best brokerage platform.</p>
        <p>
            <a class="btn btn-lg btn-primary" href="" role="button">Learn more &raquo;</a>
        </p>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2>State of the art technology</h2>
            <p>
                Using Python and Tornado, experience the fastest web trading platform available.
            </p>
        </div>
        <div class="col-lg-3">
            <h2>Intuitive interface</h2>
            <p>
                It's that fuckin' easy.
            </p>
        </div>
        <div class="col-lg-3">
            <h2>Investment help</h2>
            <p>
                New to investing? We'll help you out.
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div id="notification" class="alert alert-info">Welcome to eve. This is the notification bar</div>
{% endblock %}

{% block scripts %}
<script>
    $('#homeNav').addClass('active');
</script>
{% endblock %}