{% extends "base-tornado.html" %}

{%  block headers %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"/>
<title>eve trading</title>
<link href="{{ static_url('portfolio\chart.css') }}" rel="stylesheet">
<link href="{{ static_url('portfolio\portfolio.css') }}" rel="stylesheet">
{% end %}

{% block content %}

<div class="container">
    <div class="row" style="height: 50px"></div>
    <div class="row stock-row">
        <div> Example Chart for {{ stock }}</div>
        <div id="{{ stock }}" class="col-lg-6 chart">
            <div id="{{stock+"chart"}}" style="height: 200px">
        </div>
        </div>
    </div>
</div>

{% end %}

{% block scripts %}
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="http://techanjs.org/techan.min.js"></script>
<script src="{{ static_url('portfolio/stockListings.js') }}"></script>
<script src="{{ static_url('portfolio/utils.js') }}"></script>
<script src="{{ static_url('jquery-ui.min.js') }}"></script>
<script src="{{ static_url('underscore.js') }}"></script>
<script>
    $(document).ready(function(){
        var row = $(document).select('.stock-row');
        console.log(row);
        drawChartFromTicker( "{{stock}}" , row);
    });
</script>
{% end %}
